html, body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    width: 100%;
		height: 100%;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  height: 100%;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.swipe-wrap > div {
  float: left;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
}

.swipe-wrap > div:nth-child(1) .column-inner{
    background: red;
}
.swipe-wrap > div:nth-child(2) .column-inner{
    background: blue;
    height: 2000px;
}
.swipe-wrap > div:nth-child(3) .column-inner{
    height: 200px;
    background: blueviolet;
}

.sticky-box{
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: white;
	z-index: 1;
}

#innerSwipe {
  width: 80%;
  margin: auto;
  height: auto;
}

#innerSwipe .swipe-wrap{
  padding-bottom: 56%;
  height: 0;
}

#innerSwipe .swipe-wrap > div:nth-child(1){
    background: red;
    padding-bottom: 100%;
}
#innerSwipe .swipe-wrap > div:nth-child(2){
    background: yellow;
    padding-bottom: 100%;
}
#innerSwipe .swipe-wrap > div:nth-child(3){
    background: blueviolet;
    padding-bottom: 100%;
}